*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-position: center;
    background-size: cover;
    /* background: url('https://wallpaperaccess.com/full/4893666.jpg'); */
    background-color: rgb(8, 8, 40);
}
.container{
    width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur()20px;
    box-shadow: 0 0 10px rgba(0 ,0 , 0, .2);
}
.title-section{
    margin: 30px;
}
.title{
    font-size: 28px;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
.para{
    color:#dbd5d5;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}
.input-group{
    position: relative;
}
.input-group .label-title{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    display: block;
    font-weight: 500;
    margin-bottom: 11px;
    margin: 10px;
}
.input-group input{
    width: 100%;
    height:50px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 40px;
    padding: 9px 18px 9px 52px;
    outline: none;
    margin-bottom: 10px;
}
.input-group input::placeholder{
    color: whitesmoke;
    font-family:  'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.input-group .icon{
    position: absolute;
    color: #fff;
    left: 13px;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 23px;
}
.input-group .button-btn{
    width: 100%;
    background-color: #dbd5d5;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 16px;
    color: rgba(0 ,0 , 0,);
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}
.button-btn:hover{
    opacity: 0.95;
}
.back{
    font-size: 16px;
    text-align: center;
    margin: 10px 0 15px;
    text-transform: capitalize;
    color: #fff;
}





